@font-face {
  font-family: 'RobotoMono';
  src: url(../assets//fonts/RobotoMono-VariableFont_wght.ttf) format('truetype');
}

body {
  background-color: black;
  font-family: 'RobotoMono', sans-serif;
  color: wheat;
}

h1.header-title {
  text-align: center;
  border-bottom: 1px solid greenyellow;
}

h3.header-subtitle {
  text-align: center;
}
